<!-- html file>
<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Hartz 4 Namen Generator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

	<link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="script.js"></script>
	<script src="ngGSpreadsheet.js"></script>

	<style>

		html {
			background: url(geometry.png) repeat center center; 
		}

		body {
			padding-top: 20px;
			font-size: 16px;
			font-family: "Open Sans",serif;
			background: transparent;
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 400;
			font-size: 40px;
		}

		/* Override B3 .panel adding a subtly transparent background */
		.panel {
			background-color: rgba(255, 255, 255, 0.9);
		}

		.margin-base-vertical {
			margin: 40px 0;
		}

	</style>

</head>
<body>

	<div class="container">
		<div class="row">
			<div ng-controller="NameController"
			     class="col-md-6 col-md-offset-3 panel panel-default">

				<h1 class="margin-base-vertical">Hartz 4 Namen Generator</h1>

				<p>hello this is a change
					Der Service f&uuml;r Privatsender Pseudo-Doku-Soap Reality-TV Autoren.
				</p>

				<p>
					Jetzt einfach einen Hartz Namen generieren lassen mit einem Klick.
				</p>

				<form class="margin-base-vertical">
					<p class="input-group">
						<span class="input-group-addon"><span class="icon-user"></span></span>
						<input ng-model="ctrl.name" type="text" class="form-control input-lg" name="name" placeholder="" />
					</p>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="ctrl.doublename"> Doppelnamen anwenden
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input ng-checked="ctrl.addLastname" type="checkbox" ng-model="ctrl.addLastname"> Nachname hinzuf&uuml;gen
						</label>
					</div>
					<p class="text-center">
						<button type="button" ng-click="generateRandomName('male')" class="btn btn-success btn-lg">Jungennamen generieren</button>
						<button type="button" ng-click="generateRandomName('female')" class="btn btn-success btn-lg">M&auml;dchennamen generieren</button>
					</p>
					</span>
				</form>

				<div class="margin-base-vertical">
					<small class="text-muted"><a href="http://subtlepatterns.com/inspiration-geometry/">Creative Commons - Attribution</a>.</small>
				</div>

			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

</body>
</html>
